/* 
project name : egygomla update
authar name : amr nasser 
*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif;
    background-color: #F9F9F9;
}
body a:hover{
  text-decoration: none;
}
.l-h{
  line-height: 20px;
}
.fs-6{
  font-size:small;
}
/* layouts */
.site-color{
  color: #00BFFC;
}
.ad{
  background-color: #00BFFC;
  border-color: #00BFFC;
}
.ad:hover{
  background-color: #00bdfce1;
  border-color: #00bdfc79;
}
.hover{
  color: #00BFFC;
  border-color: #00BFFC;
}
.hover:hover{
  background-color: #00BFFC;
  border-color: #00BFFC;

}
.border-site{
  border-color:#00BFFC !important ;
}
/**/
/* card style */
.img-card{
  height: 400px;
}
.card-text{
  line-height: 10px !important;
}
.dir{
  direction: rtl;
}



/* product page */

 .product-discount-label{
    background: #FCFEFF;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
}


/* product gallery */
.Quantity button, .Quantity input{
  border: none;
  background:none;
}
.Quantity input{
  width: 30px;
}
.nav-tabs{
  border: none !important;
}
/* media query */
@media (max-width:991px) and (min-width:320px){
  .navbar-brand{
    margin-bottom: 25px;
  }
  .navbar-collapse{
    margin-top: 25px;
  }
  .card{
    position: relative;
    right:15%;
  }
  .text-footer-1{
    margin-top: 10px !important;
  }
  .colors a {
    font-size: smaller;
  }
  .size a b{
    font-size: smaller;
    line-height: 45px;
  }
}
@media (max-width:375px){
  .top-nav-link{
    margin-right: 36px !important;
  }
}
@media (max-width:463px){
.p-det{
  margin-top: 250px !important;
}
body{
  overflow-x: hidden;
}
}
/* new nav bar */
* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */


/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:45px;
  
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  
}
  
 

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

}
.dropdown-menu .nav-link , .dropdown .nav-link{
  color: #00BFFC;
}
.mr{
  margin-right: 10%;
}
.lh{
  line-height: 25px;
}

/* replacement css style start for edition 2 */
.table td, .table th{
  border-top: none;
}
.table td{
  color: #00BFFC;
}
.img-table{
  width: 100px;
  height: 100px;
}
.modal-footer{
  justify-content: flex-start;
}
.custom-file-upload {
  border: 1px solid #00BFFC;
  border-radius: 10px;
  color: #00BFFC;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}
.border-custom{
  border: 1px solid #00BFFC;
  padding: 1px;
  border-radius: 3em;
}

/* */
.carusal-amoura{
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
}
.carusal-amoura li{
  width: 50px;
  height: 75px;
}
.carousel-inner img{
  height: 200px;
}
.dir-2{
  direction: ltr;
}